@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}
<div class="row">
    <div class="mx-auto col-md-4">
        <section class="header-owl">
            <h1 class="text-light">@ViewData["Title"]</h1>
            <form id="account" method="post">
                <h4 class="text-light">Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Login" class="text-light"></label>
                    <input asp-for="Input.Login" class="form-control bg-dark text-light" />
                    <span asp-validation-for="Input.Login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="text-light"></label>
                    <input asp-for="Input.Password" class="form-control bg-dark text-light" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="text-light">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-dark text-light">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
